{% extends 'base.html' %}
{% block title %}   Home {% endblock title %}
{% block body %}


  


  <main class="form-signin w-100 m-auto">
    <form action="/" method="POST">
      <h1 class="h3 mb-3 fw-normal">Create Tasks</h1>

      <div class="form-floating">
        <input type="text" name="TaskName" class="form-control" id="floatingInput">
        <label for="floatingInput">TaskName</label>
      </div>
      <div class="form-floating">
        <input type="text" name="desc" class="form-control" id="floatingPassword">
        <label for="floatingPassword">Description</label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    </form>

<div class="m-5"></div>
    {% if allUser|length==0 %}
    <div class="alert alert-light" role="alert">
      No tasks Yet..!!
    </div>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Task-Id</th>
          <th scope="col">TaskName</th>
          <th scope="col">Description</th>
          <th scope="col">Date Created</th>
        </tr>
      </thead>
      <tbody>
        {% for user in allUser %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{user.TaskName}}</td>
          <td>{{user.Desc}}</td>
          <td>{{user.date_created}}</td>
          <td>
            <a href="/update/{{user.taskId}}" type="button" class="btn btn-outline-success">Update</a>
            <a href="/delete/{{user.taskId}}" type="button" class="btn btn-outline-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </main>
  <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
    
  {% endblock body %}